div.form-signin
    h2.form-signin-heading Login
    input.input-block-level(type='text', placeholder='Usuario')
    input.input-block-level(type='password', placeholder='senha')
    button.btn.btn-large.btn-primary(type='submit') Sign in